/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/img/_9c68dc21-8b75-4a04-845f-769d38ac0373.jpeg') center center fixed;
    background-size: cover;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 0px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

.music-carousel {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos responsivos para telas menores */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}
