/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/img/_38eec30c-0d0d-4edf-8a21-14c59cb26d00.jpeg') center center fixed;
    background-size: cover;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 0px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.proposal {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos responsivos para telas menores */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}
