/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/img/_86877730-db9b-4adc-b853-ceddbc09db2c.jpeg') center center fixed;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.video-carousel {
    max-width: 100%; /* Ajusta a largura máxima para se adaptar ao tamanho da tela */
    margin: 20px auto;
}

.carousel-item {
    text-align: center;
}

video {
    width: 100%; /* Altera a largura do vídeo para preencher o contêiner */
    height: auto;
    max-height: 720px;
}

h2 {
    font-family: 'Impact', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    padding: 10px;
}

/* Estilos responsivos para telas menores */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}
